<div class="team" id="team">
  <div class="container">
    <div class="boxx">
      <h1 class="section-title">About <span>me</span></h1>
      <h2>Front End Developer</h2>
      <p>Innovative front End developer with 3 years experience building and maintaining responsive websites
        in freelance. proficient in HTML, CSS, JAVASCRIPT plus modern libraries and frameworks such as Angular JS
        .passionate about usability. I graduated in computer science. Specialize in computer systems engineering.
        I like working with the team.</p>
      <a href="https://drive.google.com/file/d/1G5H_KxfERSKb53dctnf0TefDYY87MOk6/view?usp=sharing" class="cta" download>Download Resume</a>
    </div>

    <div class="box">
      <div class="data">
        <img height="466" width="350">
        <div class="social">
          <a href="https://www.linkedin.com/in/lounes-hicham-525088210" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100010782002045" target="_blank"><i
              class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com/hic__lou/" target="_blank"><i
              class="fa-brands fa-instagram-square"></i></a>
          <a href="https://twitter.com/LounesHicham?t=BiIqJJoHxUCbQ8JBugQx9Q&s=09" target="_blank"><i
              class="fa-brands fa-twitter"></i></a>
        </div>
      </div>
      <div class="info">
        <h3>Hicham Lounes</h3>
        <p>Front-End Developer</p>
      </div>
    </div>
  </div>
</div>