<!-- Projects Section -->
<section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Recent <span>Projects</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Responsive Portfolio Website</h1>
            <h2>From scratch using HTML, CSS, JS.</h2>
            <p>In this project, I have created my own <a href="#">PERSONAL WEBSITE</a> to showcase my ability to create
              website interfaces where the site contains my personal information and the services I can do
              Where the site is divided into several sections with some animation to make it look better.</p>
          </div>
          <div class="project-img">
            <img class="img1">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Responsive Diverse Website</h1>
            <h2>From scratch using HTML, CSS.</h2>
            <p>In this project, I diversified the creation,I have created a <a
                href="" target="_blank">WEBSITE</a> as I used many beautiful
              and varied ideas, and I also used a lot of animations, and the results of these animations were very
              amazing.</p>
          </div>
          <div class="project-img">
            <img class="img2">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Responsive Portfolio Website</h1>
            <h2>From scratch using HTML, CSS.</h2>
            <p>In this project, I did the same thing where I created my own personal <a
                href="" target="_blank">WEBSITE</a> but I did it in a simple and
              different way where in this project I used many animations to make it look nicer.</p>
          </div>
          <div class="project-img">
            <img class="img3">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Applicatin Desktop</h1>
            <h2>Java, Swing Library, Database, Jasper Report</h2>
            <p>for my licence dessertation I did an application to <a
                href="https://drive.google.com/file/d/1MtKst6iVrTcZ_xSV4yvYvhcqRjNBrFQR/view?usp=sharing">FRAMING
                MANAGEMENT</a>, where the application allowed teachers to add thier own topic of graduation and this
              allows students to choose topic online from home and export the graduation report.</p>
          </div>
          <div class="project-img">
            <img class="img4">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Applicatin Desktop</h1>
            <h2>Java, Swing Library</h2>
            <p>in master's degree I made an <a
                href="https://drive.google.com/file/d/1hF5DcII_83mXFA3NihhpHG-dHVZOHGuk/view?usp=sharing"> VEHICLE PRIORITY
                MANAGEMENT</a> app using IoT approach .
              where we had to find a way to reduce waiting time for emergency vehicles on the road.
              And after research and several studies we found a way to reduce waiting time by calculating the percentage
              of congestion in all neighboring roads. and this allowed us to predict the waiting time
              and choose the correct road.and we could to found a solution minimized the waiting time for emergency
              vehicles.</p>
          </div>
          <div class="project-img">
            <img class="img5">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->
