 <!-- Contact Section -->
 <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1><br />
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><i class="fa-solid fa-phone fa-4x"></i></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+213 667 725 844</h2>
            <h2>+213 556 412 575</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><i class="fa-solid fa-envelope fa-4x"></i></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>lounesh1@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><i class="fa-solid fa-map-location-dot fa-4x"></i></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>Bouira, Algeria</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
