  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div class="home">
        <h1>Hello, <span></span></h1>
        <h1>My Name is <span></span></h1>
        <h1>Hicham<span></span></h1>
        <!-- <a href="#projects" type="button" class="cta">View my work</a> -->
       <!--  <button type="button" class="cta" routerLinkActive="active"><a class="cta" routerLink="/projects">View my work</a></button> -->
        <div routerLinkActive="active">
            <a class="cta" routerLink="/projects">View my work</a>
        </div>

      </div>
    </div>
  </section>
  <!-- End Hero Section  -->